<!DOCTYPE HTML>
<html>

<head>
  <meta charset='UTF-8' />
  <title>CS 340 Final Project</title>
</head>

<body>

  <div class="container">
    <table class="table table-striped table-sm">
    <thead class="thead-dark"> 
        <th scope="col">First Name</th> 
        <th scope="col">Last Name</th> 
        <th scope="col">Specialty</th>
        <th scope="col">Sexual Orientation</th>
        <th scope="col">Religion</th>
        <th scope="col">Experience</th>
        <th scope="col">Location</th>
        <th scope="col">Email</th>
    </thead> 
    <tbody> 
        {{#each therapist}} 
        <tr scope="row">
            <td>{{fname}}</td> 
            <td>{{lname}}</td> 
            <td>{{spec}}</td> 
            <td>{{sOrien}}</td> 
            <td>{{rel}}</td> 
            <td>{{exp}}</td> 
            <td>{{loc}}</td> 
            <td>{{mail}}</td> 
        </tr> 
        {{/each}} 
    </tbody> 
</table> 
  </div>

</body>
</html>